@font-face {
  font-family: "Light";
  src: local("ProximaNova"), url("./assets/font/Proxima\ Nova\ Light.otf") format("truetype");
}
@font-face {
  font-family: "Reg";
  src: local("ProximaNova"), url("./assets/font/ProximaNova-Reg.otf") format("truetype");
}
@font-face {
  font-family: "Semibold";
  src: local("ProximaNova"), url("./assets/font/Proxima\ Nova\ Semibold.otf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("ProximaNova"), url("./assets/font/ProximaNova-Bold.otf") format("truetype");
}
@font-face {

  font-family: "RegularItalic";
  src: local("ProximaNova"), url("./assets/font/Proxima\ Nova\ Regular\ Italic.otf") format("truetype");
}
@font-face {
  font-family: "SemiboldItalic";
  src: local("ProximaNova"), url("./assets/font/Proxima\ Nova\ Semibold\ Italic.otf") format("truetype");
}
@font-face {
  font-family: "Black";
  src: local("ProximaNova"), url("./assets/font/ProximaNova-Black.otf") format("truetype");
}
@font-face {
  font-family: "ThinIt";
  src: local("ProximaNova"), url("./assets/font/ProximaNova-ThinIt.otf") format("truetype");
}

body {
  font-family: 'Reg';
}

.credit-header {
  font-family: 'Bold';
}
.credit-light {
  font-family: 'Light';
}

.status{
  background: #59d8d1;
  font-family: 'Semibold';
}

.showcase2 {
  display: none;
}


@media screen and (max-width: 600px) {
  .showcase {
    display: none;
  }
  .showcase2 {
    display: flex;
  }

}